In [1]:
import pandas as pd
import tqdm

In [2]:
user_to_user_time_series = pd.read_csv('KeyWords_New/user_to_user_time_series_All.csv', index_col='Unnamed: 0')

In [3]:
df = user_to_user_time_series.copy()
df = df[df['src'] != df['dst']]

In [4]:
del sample_df

NameError: name 'sample_df' is not defined

In [11]:
sample_df = df.sample(frac=0.01)
sample_df

,dst,src,messages_sent,messages_received,messages_total,contribution_index,start_time_,end_time_,sentiment_avg,emotionality_avg,complexity_avg
38147,ezra1015,dijaminasik,0,1,1,-1.0,2021-12-05 00:00:00,2021-12-06 00:00:00,NaN,NaN,NaN
6280,_ahkii_,byoruuuu,0,1,1,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,NaN,NaN,NaN
127880,ninknft,nmskar_n,1,0,1,1.0,2021-11-29 00:00:00,2021-11-30 00:00:00,NaN,NaN,NaN
19403,btc21145614,criptomussama,0,1,1,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,NaN,NaN,NaN
3436,turkmenbey,cyriptoman4,0,6,6,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
50010,kyoko_tnhs2,uraakaneshuhei,1,0,1,1.0,2021-10-31 00:00:00,2021-11-01 00:00:00,NaN,NaN,NaN
329648,sangatizart,pdigitalart,0,1,1,-1.0,2021-12-12 00:00:00,2021-12-13 00:00:00,NaN,NaN,NaN
209951,monkey_caz,guadalupe_ggc10,1,0,1,1.0,2021-12-12 00:00:00,2021-12-13 00:00:00,NaN,NaN,NaN
347267,sol_dix,fxrsb7,1,0,1,1.0,2021-11-14 00:00:00,2021-11-15 00:00:00,0.319989,0.119159,10.772301
299778,adeeyowaliu,adeeyo_ibrahim,0,1,1,-1.0,2021-12-05 00:00:00,2021-12-06 00:00:00,NaN,NaN,NaN

In [7]:
for rows, index in sample_df.iterrows():
    sample_df = sample_df.append(sample_df[sample_df['src'] == df['dst'][rows]])

In [60]:
d = ['monkey_caz', 'sol_dix', 'adeeyowaliu', 'guadalupe_ggc10', 'fxrsb7', 'adeeyo_ibrahim']
small_df = pd.DataFrame(columns=d, index=d).fillna(0)
small_df

,monkey_caz,sol_dix,adeeyowaliu,guadalupe_ggc10,fxrsb7,adeeyo_ibrahim
monkey_caz,0,0,0,0,0,0
sol_dix,0,0,0,0,0,0
adeeyowaliu,0,0,0,0,0,0
guadalupe_ggc10,0,0,0,0,0,0
fxrsb7,0,0,0,0,0,0
adeeyo_ibrahim,0,0,0,0,0,0

In [61]:
adj_mat = small_df.copy()

In [62]:
for rows, index in adj_mat.iterrows():
    print(rows)

monkey_caz
sol_dix
adeeyowaliu
guadalupe_ggc10
fxrsb7
adeeyo_ibrahim

In [68]:
dst = sample_df[sample_df['src'] == 'guadalupe_ggc10']['dst']
dst.get_value()

AttributeError: 'Series' object has no attribute 'get_value'

In [64]:
adj_mat['monkey_caz']['guadalupe_ggc10'] = 1

In [65]:
adj_mat

,monkey_caz,sol_dix,adeeyowaliu,guadalupe_ggc10,fxrsb7,adeeyo_ibrahim
monkey_caz,0,0,0,0,0,0
sol_dix,0,0,0,0,0,0
adeeyowaliu,0,0,0,0,0,0
guadalupe_ggc10,1,0,0,0,0,0
fxrsb7,0,0,0,0,0,0
adeeyo_ibrahim,0,0,0,0,0,0

In [100]:
for rows, index in adj_mat.iterrows():
    dst = sample_df[sample_df['dst'] == rows]['src'].values[0]
    adj_mat[dst][rows] = 1
    print(rows)

monkey_caz
sol_dix
adeeyowaliu

IndexError: index 0 is out of bounds for axis 0 with size 0

In [97]:
sample_df[sample_df['dst'] == 'adeeyowaliu']['src'].values

array(['adeeyo_ibrahim'], dtype=object)

In [73]:
sample_df[sample_df['src'] == rows]

,dst,src,messages_sent,messages_received,messages_total,contribution_index,start_time_,end_time_,sentiment_avg,emotionality_avg,complexity_avg
299778,adeeyowaliu,adeeyo_ibrahim,0,1,1,-1.0,2021-12-05 00:00:00,2021-12-06 00:00:00,NaN,NaN,NaN

In [99]:
adj_mat

,monkey_caz,sol_dix,adeeyowaliu,guadalupe_ggc10,fxrsb7,adeeyo_ibrahim
monkey_caz,0,0,0,0,0,0
sol_dix,0,0,0,0,0,0
adeeyowaliu,0,0,0,0,0,0
guadalupe_ggc10,1,0,0,0,0,0
fxrsb7,0,0,0,0,0,0
adeeyo_ibrahim,0,0,0,0,0,0

3436    turkmenbey
Name: dst, dtype: object

In [ ]:
adj_mat[dst][rows]